.request-area {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.request-area label {
  flex-basis: 30%;
  margin-right: 20px;
  white-space: nowrap;
}

.request-area input,
.request-area textarea,
.request-area select,
.request-area button {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-basis: 70%;
  margin-right: 5px;
  padding: 8px;
}

.requested-list ul {
  list-style-type: none;
}

.requested-list li {
  margin-bottom: 5px;
}

.requested-list li button {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-basis: 70%;
  margin-left: 5px;
  padding: 4px;
}
