
.recipe-request-area {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.recipe-request-area label {
  flex-basis: 30%;
  margin-right: 20px;
  white-space: nowrap;
}

.recipe-request-area input,
.recipe-request-area textarea,
.recipe-request-area select {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-basis: 70%;
  padding: 8px;
}
