.request-area {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.request-area label {
  flex-basis: 30%;
  margin-right: 20px;
  white-space: nowrap;
}

.request-area input,
.request-area textarea,
.request-area select,
.request-area button {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-basis: 70%;
  margin-right: 5px;
  padding: 8px;
}

.requested-list label {
  justify-content: center;
  margin-top: 20px;
  text-decoration: underline;
}

.requested-list ul {
  list-style-type: none;
}

.requested-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.requested-list li button {
  background-color: transparent;
  border-color: var(--text-color);
  color: var(--text-color);
  margin-left: auto;
  padding: 4px;
}
