
.setting-area {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.setting-area label {
  flex-basis: 30%;
  margin-right: 20px;
  white-space: nowrap;
}

.setting-area input,
.setting-area textarea,
.setting-area select {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-basis: 70%;
  padding: 8px;
}

.darkmode-checkbox {
  display: none;
}

.custom-checkbox {
  border-radius: 3px;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

.custom-checkbox::after {
  border-radius: 2px;
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  width: 20px;
}

.checkbox-icon {
  height: 20px;
  left: .5px;
  pointer-events: none;
  position: absolute;
  width: 20px;
}