.recipe-details {
  display: flexbox;
  width: 30em;
}

.header-container {
  align-items: center;
  justify-content: center;
}

.allergen-list {
  list-style-position: inside;
  margin-top: -10px;
}

.duration-container {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: -20px;
  margin-top: -20px;
  text-align: center;
}

.time-icon {
  height: 1em;
  margin-right: 10px;
  width: auto;
}