.recipe-form-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-row {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.recipe-form-container label {
  flex-basis: 30%;
  margin-right: 20px;
  white-space: nowrap;
}

.recipe-form-container input,
.recipe-form-container textarea,
.recipe-form-container select {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-basis: 70%;
  margin: 6px;
  padding: 8px;
}

.recipe-form-container button[type="submit"],
.recipe-form-container button[type="button"] {
  flex-basis: 100%;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 0px;
  width: 20%;
}

.allergen-list {
  list-style-type: none;
}

.allergen-list li {
  margin-bottom: 5px;
}

.allergen-list li button {
  margin-left: 8px;
}