.week-table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.week-table th,
.week-table td {
  border: 2px solid var(--text-color);
  padding: 8px;
  width: 10em;
}

.recipe-name-text {
  cursor: pointer;
}

.recipe-name-text:hover {
  text-decoration: underline;
}